body {
  font-family: 'Playfair Display', serif;
  scroll-behavior: smooth;
}

.masthead {
  color: rgba(255,255,255,0.7);
}

#side-img {
  width:50px;
  height:50px;
}

.footer-dark {
  margin-top: 5rem;
}

.caption-content {
  color: black;
}

.portfolio-item .caption .caption-content {
  color: rgb(11,42,82);
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  color: rgb(219,184,0);
  font-size: 1.5rem;
  font-weight: 700;
}

.portfolio-item .caption .caption-content p {
  color: rgb(255,255,255);
}

.content-portfolio {
  text-align: center;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  padding-bottom: 30px; 
}

.footer-dark h3 {
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.itl {
  margin-right: 15px;
}

h1 {
  font-weight: 600;
}

span {
  margin-right: 20px;
}

.btn-xl {
  font-size: 1.2rem;
}

.map {
  height: 70%;
}

#portfolio {
  background-color: rgb(225,175,37);
}

.progress-bar {
  background-color: rgb(225,175,37);
}

.text-secondary {
  color: rgba(53,53,53,0.81)!important;
}

.content-section-heading h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem !important;
}

li {
  text-align: left!important;
  font-size: 20px;
}

.row.head-list {
  text-align: center;
  padding-left: 10%;
}

.copyright {
  font-style: normal;
}

.skill-list {
  margin-left: 10%;
  margin-right: 10%;
}

.btn-pf {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5%;
}

.btn-rm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7%;
}

@media (max-width: 500px) {
  .img-fluid {
    height: 82px;
    width: 82px;
  }

  #side-img {
    width:30px;
    height:30px;
  }

  .skill-list {
    margin-left: 0;
  }

  .footer-dark {
    margin-top: 0px;
  }

  #sidebar-wrapper.active {
    width: 170px;
  }
}

@media (min-width: 700px) {
  #sidebar-wrapper {
    background: #1d819f70;
  }
}

