.contact-clean {
  background: #1d819f13;
  padding: 50px;
  padding-bottom: 0;
}

@media (max-width:500px) {
  .contact-clean {
    padding: 30px 0px;
  }
}

.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  padding: 80px 0 60px 0;
  border-radius: 4px;
  color: #505e6c;
}

@media (max-width:767px) {
  .contact-clean form {
    padding: 30px;
  }
}

.contact-clean h2 {
  margin-top: 5px;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}

.contact-clean h2 span {
  border-bottom: 2px solid grey;
  padding: 10px 15px;
}

.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}

.contact-clean form .form-control {
  border: none;
  border-bottom: 2px solid #1d809f;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
  float: right;
}

.contact-clean form .btn:hover {
  opacity: 1;
}

.contact-clean form .btn:active {
  transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background-color: #1d809f !important;
  margin-top: 15px;
  color: #fff;
}

.contact-side-img {
  padding: 10%;
  width: 90%;
  height: 70%;
  margin-top: 3%;
  margin-left: 10%;
}


