@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

body {
  color: rgba(39,40,44,.7);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.644);
  border-radius: 8px;
}

.dark-mode::-webkit-scrollbar-thumb {
  background: rgba(88, 87, 87, 0.644);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(56, 56, 56);
}

::-webkit-scrollbar-track {
  background: rgba(48, 38, 53, 0.466);
}

.dark-mode::-webkit-scrollbar-track {
  background: rgba(71, 71, 71, 0.466);
}

::-webkit-scrollbar-corner {
  background: #999;
}

section {
  padding-top: 14vh;
  padding-bottom: 9vh;
  height: 100vh;
}

#about {
  padding-top: 18vh;
}

.navbar-brand a {
  text-decoration: none;
  color: rgb(157, 52, 255);
  padding-left: 10px;
}

.navbar-dark {
  background-color: transparent;
}

.navbar {
  height: 10vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 999;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.navbar-dark .navbar-nav .active {
  border-bottom: 3px solid rgb(226, 226, 226);
  background: #4a008f4d;
  padding: 0.5rem 1rem;
}

.add-shadow {
  background: rgb(105, 0, 204) !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 2px;
}

.add-shadow .navbar-nav .nav-link,
.add-shadow .navbar-brand a {
  color: #fff !important;
}

.add-shadow .container-fluid {
  background: rgb(105, 0, 204) !important;

}

#particles-js {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  place-items: center;
}

.container {
  position: relative;
  font-family: Poppins, sans-serif;
  color: rgb(45, 0, 87);
  position: relative;
  overflow: hidden;
  z-index: 2;
}

ul,
li,
p {
  text-align: left;
  font-weight: 500;
}

.body-content {
  margin-top: 2%;
}

.my-img {
  place-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-fluid {
  height: auto;
  width: 100%;
}

.head-content {
  padding-left: 10%;
}

h1 {
  color: rgb(207, 207, 207);
  font-size: 62px;
}

#home {
  padding-bottom: 10rem;
  background: rgb(62, 30, 242);
  background: url("../images/bg1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 480px) {
  .navbar-toggler {
    font-size: 1rem;
  }

  section {
    height: auto;
    padding-top: 11vh;
  }

  #home {
    margin-top: 0;
    padding-bottom: 0;
  }

  .img-fluid {
    height: auto;
    width: 100%;
  }

  h1 {
    font-size: 36px;
  }

  .head-content {
    margin-top: 2rem;
  }

  .body-content {
    margin-top: 5rem;
  }

  #contact h3 {
    margin-bottom: 2rem;
  }
}

.content-section-heading {
  text-align: center;
}

h3 span {
  border-bottom: 2px solid rgba(39,40,44,.7);
  padding: 0.5rem;
}

.card {
  margin: 1rem;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; 
}

.card img {
  border-radius: 10px 10px 0 0;
  height: 250px;
}

.card-body {
  border-radius: 0 0 10px 10px;
}

.card:hover {
  box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.01);
}

.b-left {
  border-left: 5px solid rgba(0, 0, 0, 0.555);
  padding: 15px;
  padding-left: 15px;
  padding-bottom: none;
  margin-bottom: 20px;
  background-color: #eeeeee;
}

.lead {
  font-size: 1.1rem;
}

h2, h3, h5 {
  font-weight: 600;
}

.progress {
  height: 10px;
  width: 80%;
  background-color: #fff;
}

.progress-bar {
  background-color: #6900cc;
}

.skill-logo {
  height: 24px;
  width: 24px;
  font-size: 24px;
  margin-bottom: 5px;
}

#skills, #contact {
  background: #f7f7f7;
}

#projects, #contact {
  height: auto;
}

#contact {
  padding-bottom: 0;
}

.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  padding: 80px 0 60px 0;
  border-radius: 4px;
  color: #6900cc;
}

.contact-clean h3 {
  font-size: 34px;
  color: inherit;
}

.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  background: transparent;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  padding-left: 12px;
  height: 42px;
}

.contact-clean form .form-control {
  border: none;
  border-bottom: 2px solid #6900cc;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
  float: right;
}

.contact-clean form .btn:hover {
  opacity: 1;
}

.contact-clean form .btn:active {
  transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background-color: #6900cc !important;
  margin-top: 15px;
  color: #fff;
}

.contact-side-img {
  width: 50%;
  height: auto;
  margin-top: 10%;
  margin-left: 30%;
}

@media (max-width: 480px) {
  #contact .row {
    margin-right: 0;
  }

  .contact-clean {
    padding: 30px 0px;
  }

  .contact-side-img {
    margin-top: 2%;
    margin-bottom: 5%;
  }

  .b-left {
    margin-left: 3px !important;
  }

  .no-b span {
    border-bottom: none;
  }
}

@media (max-width: 700px) {
  .contact-clean form {
    padding: 0;
  }

  .contact-side-img {
    padding: 0;
  }
}

.social > a, .card-body a i {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: white;
  opacity: 0.7;
}

.social > a:hover {
  background-color: #ffffff;
  color: #282d32;
  opacity: 0.9;
}

.card-body a i {
  cursor: pointer;
  color: black;
  margin: 0 3px;
  box-shadow: 0 0 0 1px rgba(78, 78, 78, 0.4);
}

.card-body a i:hover {
  opacity: 1;
}

.btn-site {
  background-color: #6900cc;
  border-color: #6900cc;
  color: #fff;
} 

.card-title {
  color: #4a008f;
}

.card-text {
  font-size: 14px;
}

.btn-site:hover, .btn-site:active {
  background-color: #6900cc;
  border-color: #6900cc;
  color: #fff;
}

.btn-site:focus, .btn-primary:focus, .btn-site.active:focus, .btn-site:active:focus, .show>.btn-site.dropdown-toggle:focus {
  box-shadow: none;
}

#footer {
  height: 13vh;
  padding: 2rem;
  background-color: #282d32;
  color: white;
  text-align: center;
  font-weight: 500;
}

#footer img {
  width: 20px;
  height: 20px;
}

#footer span {
  font-weight: 600;
}

#footer p {
  text-align: center;
  font-size: 12px;
}

#button, #btn-mode {
  display: inline-block;
  background-color: #6900cc;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  border-radius: 50%;
  line-height: 1;
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button i {
  padding-top: 12px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #6900cca8;
}

#button:active {
  background-color: #6900cca8;
}

#button.show, #btn-mode.show {
  opacity: 1;
  visibility: visible;
}

#btn-mode {
  background: #fff;
  color: #000;
  cursor: pointer;
  bottom: 70px;
  font-size: 44px;
}

/* Contact Section
--------------------------------*/
.section-bg {
  padding: 40px 0 0 0;
  background: #f7f7f765;
}

#contact-div .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact-div .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #6900cca8;
}

#contact-div .contact-info address, #contact-div .contact-info p {
  margin-bottom: 0;
  color: #000;
  text-align: center;
}

#contact-div .contact-info address, #contact-div .contact-info p a {
  text-decoration: none;
}

#contact-div .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact-div .contact-info a {
  color: #000;
}

#contact-div .contact-info a:hover {
  color: #6900cca8;
}

#contact-div .contact-address, #contact-div .contact-phone, #contact-div .contact-email {
  margin-bottom: 20px;
}


.social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgb(143, 137, 133);
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.social-links a:hover {
  background: #6900cca8;
  color: #fff;
}

@media (min-width: 768px) {
  #contact-div .contact-address, #contact-div .contact-phone, #contact-div .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact-div .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flip {
  animation-delay: 0.5s;
  animation-duration: 0.75s;
  transform: rotate(-180deg);
}

/* Dark Mode */
.dark-mode {
  caret-color: #eee;
}

.dark-mode, .dark-mode #skills, .dark-mode #contact, .dark-mode .section-bg {
  background-color: rgba(27,31,36,1);
  color: #f7f7f7;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode li,
.dark-mode h3,
.dark-mode .card-body a i {
  color: #d6d6d6;
}

.dark-mode h3 span {
  border-color: #f7f7f7;
}

.dark-mode .b-left {
  border-color: rgb(116, 116, 116);
}

.dark-mode .b-left, .dark-mode .card-body {
  background-color: rgb(63, 63, 63);
}

.dark-mode .card {
  border-color: #000;
}

.dark-mode .card-body a i {
  box-shadow: rgb(255 255 255 / 40%) 0px 0px 0px 1px;
}

.dark-mode .card-body a i:hover {
  background-color: rgba(238, 238, 238, 0.781);
  color: #000;
}

.dark-mode #contact-div .contact-info i{
  color: #6900cc;
}

.dark-mode .card-title {
  color: #8400ff;
}

.dark-mode .card {
  box-shadow: rgba(255, 255, 255, 0.15) 2px 5px 15px;
}

.dark-mode .card:hover {
  box-shadow: 8px 8px 16px 0 rgba(256,256,256,0.15);
}

.dark-mode #contact-div .contact-info address, .dark-mode  #contact-div .contact-info a {
  color: #f7f7f7c9;
} 

#contact-div .contact-phone {
  border-color: rgba(153, 153, 153, 0.74);
}